body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #cda8eb, #7990b8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.card {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 15px #585858;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
}

.vert-aligned {
    display: flex;
    justify-content: center;
}