{{ if .IsTranslated }}
<div class="pagination">
    <div class="pagination__title">
        <span class="pagination__title-h">{{ i18n "translations" }}</span>
        <hr />
    </div>
</div>
<ul class="translations_list">
    {{ range .Translations }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}: {{ .LinkTitle }}</a>
    </li>
    {{ end }}
</ul>
<style>
    .translations_list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
{{ end }}

<script src="https://giscus.app/client.js" data-repo="moyongxin/moyongxin.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnkyNDU3NTU3MDc=" data-category="Announcements"
    data-category-id="DIC_kwDODqXvO84Cu7FC" data-mapping="pathname" data-strict="1" data-reactions-enabled="1"
    data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme"
    data-lang="{{ .Site.Language.LanguageCode }}" data-loading="lazy" crossorigin="anonymous" async>
    </script>

<style>
    .giscus-frame {
        margin-top: 1rem;
    }
</style>
